/* ==========================================================================
Fonts
========================================================================== */
@font-face {
    font-family: Lovelo;
    src: url('../fonts/Lovelo/lovelo_black-webfont.ttf');
}

.anmas1_st7{
    width: 80px;
   height: 80px;
}


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i');