/* ---------------------------------------------- /*
 * Welcome page - Section WELCOME
/* ---------------------------------------------- */
#welcome-section {
    @include background-image-opacity("../images/dept-mm.jpg", rgba(32, 49, 60, 0.8));

    h1{
        background-image: url('../images/svg/psm-logo.svg');
        text-indent: -20000px;
        height: 70px;

        @include sm{
            height: 100px;
        }

        @include md{
            height: 150px;
        }

        @include xl{
            height: 200px;
        }
        background-repeat: no-repeat ;
    }
    .row {
        position: relative;
        z-index: 1;
        flex-direction: row;
    }

    #welcome-left-collumn {
        @include xs-sm{
            background-color: $secondaire-bleu;
        }

        @include sm{
            min-height: 40vh;
        }

        @include md{
            min-height: calc(100vh - 80px);
        }
        display: flex;
        align-content: center;
        flex-wrap: wrap;

        #logo-welcome {
            padding-top: 10px;
            @include lg {
                display: block;
                padding-bottom: 50px;
            }
            svg, object, img {
                padding-bottom: 5%;
                width: 75%;
            }
        }

        #svg-slider-texte {
            @include md {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            overflow: hidden;

            &:hover{
                cursor: move;
            }
            #text-slider-container {
                @include xs-lg {
                    padding-top: 20px;
                }
                text-align: left;
                color: #e8e8e8;
                display: flex;

                h3 {
                    @include setup-font($lovelo, $primaire-vert, normal);
                }

                p {
                    @include setup-font($sourceSansPro, $tertiaire-gris-blanc, normal);
                    @include responsive-font(0.2, 2.4rem, 2.3rem, 2.1rem, 1.9rem, 1.8rem);
                }

                button{
                    display: none;
                }
            }

            /*Responsive */
            @include xs-sm{
                height: 0;
                display: flex;
                align-items: center;
                position: absolute;
                top:-1px;
                background-color: $secondaire-noir;
                left: 0;
                z-index: 100;
                #text-slider-container{
                    width: 100%;
                    .text-slider{
                        padding: 15px!important;
                    }
                    .btns-box{
                        display: flex;
                        button{
                            margin-right: 15px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    #welcome-right-collumn {
        display: flex;
        align-items: center;
        @include xs-sm {
            min-height: calc(100vh - 135px);
        }
        @include sm-md{
            min-height: calc(60vh - 50px);
        }
        @include md{
            min-height: calc(100vh - 80px);
        }
        background-color: $secondaire-bleu;
        overflow: hidden;

        #animations_home {
            width:100%;
            &:hover{
                cursor: move;
            }
            display: flex;
            .svg-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @include xs-sm {
                    justify-content: space-between;
                }
                svg, object, img {
                    width: 100%;
                    max-height: 90%;
                    @include xs-sm {
                        max-width: 70%;
                    }
                    @include sm-md {
                        max-width: 50%;
                    }
                }
                button{
                    display: none;
                    @include xs-sm {
                        display: flex;
                        justify-content: center;
                        width:100%;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    div.slider-nav{
        background-color: $secondaire-noir;
        display: flex;
        justify-content: center;
        @include md{
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            justify-content: center;
        }

        &:hover{
            cursor: move;
        }
        ul#svg-slider-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            max-width: 600px;
            li {
                list-style: none;
                @include xs-sm {
                    display: none;
                }
                &:first-of-type, &:last-of-type {
                    display: inline;
                }
                &:first-of-type i, &:last-of-type i {
                    font-size: 5rem;
                }
                i {
                    color: #fff;
                    transition-duration: 0.2s;
                    &.inactive {
                        color: $light-grey;
                    }
                    &.inactive:hover {
                        color: $light-grey;
                        cursor: default;
                    }
                    &.selected {
                        color: $primaire-vert;
                    }
                    &:hover {
                        cursor: pointer;
                        color: $primaire-vert;
                    }
                }
            }
        }
    }

    /*.mouse {
        display: none;
        @include xl {
            display: block;
        }
    }*/
}

/* ---------------------------------------------- /*
 * Welcome page - Section PRESENTATION
/* ---------------------------------------------- */

#presentation-section {

    background-color: $secondaire-bleu;

    .picture{
        svg, img, figure{
            @include md() {
                width: 300%!important;
                height: 100%!important;
                right: -50%;
            }
        }
    }

    .losange {
        @include transition(all 1s ease);
        &:nth-of-type(1) {
            z-index: -1;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 200px;
            width: 200px;
            background-color: $primaire-vert;
        }

        &:nth-of-type(2) {
            z-index: -3;
            top: 80%;
            left: 5%;
            height: 300px;
            width: 300px;
            background-color: $secondaire-noir;
        }
        &:nth-of-type(3) {
            z-index: -2;
            top: 20%;
            left: 20%;
            height: 150px;
            width: 150px;
            background-color: $primaire-vert;
        }

        &:nth-of-type(4) {
            z-index: -4;
            bottom: 110%;
            right: 2%;
            height: 150px;
            width: 150px;
            background-color: $secondaire-noir;
        }

        position: absolute;
        transform: rotate(-45deg);
    }
}

/* ---------------------------------------------- /*
 * Welcome page - Section FORMATION
/* ---------------------------------------------- */

#formations-section {
    height: 100vh;
    background-color: $secondaire-bleu;
    @include landscapeTablettePhones {
        height: 300vh !important;
    }

    .formations {
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;

        @include xs {
            flex-direction: column;
        }

        @include md {
            flex-direction: row;
        }

        @include landscapeTablettePhones {
            flex-direction: column !important;
        }

        .formation {
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            justify-content: center;
            align-items: center;

            text-align: center;
            background-color: #ccc;
            min-width: 10%;
            -webkit-transition: 0.5s;
            transition: 0.5s;

            &:nth-child(1) {
                @include background-image-opacity(null, rgba(52, 73, 94, 0.8));
            }

            &:nth-child(2) {
                @include background-image-opacity(null, rgba(32, 49, 60, 0.8));
            }

            &:nth-child(3) {
                @include background-image-opacity(null, rgba(141, 188, 31, 0.8));
            }

            @include lg {
                &:hover {
                    -webkit-box-flex: 2;
                    -ms-flex-positive: 2;
                    flex-grow: 3;

                    .filter::after {
                        background-color: transparent;
                    }
                }
            }

            .filter.activeScroll {
                &:after {
                    background-color: transparent;
                }
            }

            .filter:after {
                @include transition(all 0.5s ease);
            }

            h2, h2 > span.writing-letter > span {
                //Remove to trigger initial JS speed
                position: relative;
                z-index: 1;
                @include setup-font($lovelo, white !important, normal);
                @include responsive-font(0, 5rem);

                span.writing-letter > span {
                    display: inline-block;
                }
            }
        }
    }
}

/* ---------------------------------------------- /*
 * Welcome page - Section PROJECTS
/* ---------------------------------------------- */

#projects-section {

    .picture{
        svg, img, figure{
            @include md() {
                height: 100%!important;
            }
        }
    }

    .losange {
        @include transition(all 1s ease);
        &:nth-of-type(1) {
            z-index: -1;
            top: 29%;
            left: 43%;
            height: 30vw;
            width: 30vw;
            background-color: $secondaire-bleu;
        }

        &:nth-of-type(2) {
            z-index: -2;
            top: 15%;
            right: 11%;
            height: 20vw;
            width: 20vw;
            background-color: $primaire-vert;
        }
        &:nth-of-type(3) {
            z-index: -3;
            bottom: 80%;
            right: 29%;
            height: 10vw;
            width: 10vw;
            background-color: $primaire-vert;
        }

        position: absolute;
        transform: rotate(-45deg);
    }
}

/* ---------------------------------------------- /*
 * Welcome page - Section NEWS
/* ---------------------------------------------- */

#news-section {
    background-color: $tertiaire-gris-blanc;
    padding-top: 75px;

    .see-all-news {
        padding: 50px 0 50px 0;
    }
}

/* ---------------------------------------------- /*
 * Welcome page - Section PROFESSIONAL
/* ---------------------------------------------- */
#professional-section {
    overflow: hidden;
    .row {
        position: relative;
        z-index: 1;
    }
    @include xs-md {
        min-height: 100vh;
    }
    @include md {
        height: 100vh;
    }
    width: 100%;
    background-color: $secondaire-bleu;

    #professional-content {
        height: 100%;
        position: relative;
        z-index: 1;

        @include xs-md {
            padding: 30px 0 30px 0;
            min-height: 100vh;
        }

        @include md {
            flex-direction: row;
            height: 75vh;
        }

        @include xl() {
            height: 50vh;
        }

        background-color: $tertiaire-gris-blanc;
        #professional-picture {
            height: 100%;
            svg, object, img {
                padding: 25px;
                width: 100%;
                height: 100%;
            }
        }

        #professional-text {

            @include xs-md() {
                justify-content: center !important;
                align-items: center !important;
            }
            h2 {
                padding-top: 30px;
                @include setup-font($lovelo, $primaire-vert, 300);
                @include responsive-font(0, 2.4rem)
            }

            p {
                @include setup-font($sourceSansPro, black, 300);
                @include responsive-font(1, 2rem)
            }
        }
    }

    .losange {
        @include transition(all 1s ease);
        &:nth-of-type(1) {
            z-index: -1;
            top: 20%;
            left: 18%;
            height: 30vw;
            width: 30vw;
            background-color: $secondaire-noir;
        }

        &:nth-of-type(2) {
            z-index: -3;
            top: 40%;
            right: 11%;
            height: 20vw;
            width: 20vw;
            background-color: $secondaire-noir;
        }
        &:nth-of-type(3) {
            z-index: -2;
            top: 5%;
            left: 15%;
            height: 10vw;
            width: 10vw;
            background-color: $primaire-vert;
        }

        position: absolute;
        transform: rotate(-45deg);
    }
}
