/* ---------------------------------------------- /*
 * Project page - Section PRESENTATION
/* ---------------------------------------------- */
#projects-page-presentation-section {
    background-color: $tertiaire-gris-blanc;
    .content{
        background-color: $secondaire-bleu;
        .text{
            p{
                color: #fff;
            }
        }
    }
    #projects-navigation{
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        h4{
            text-align: center;
            @include setup-font($lovelo, #000, normal);
            @include responsive-font(0, 3.5rem, 3.2rem, 2.9rem, 2.6rem,2.5rem);
        }

        select{
            max-width: 300px;
        }
    }
}

/* ---------------------------------------------- /*
 * Project page - Section DISPLAY
/* ---------------------------------------------- */
section.project {
    background-color: $secondaire-bleu;

    &.section-image-right-content-left{
        .picture{
            svg,img,figure{
                @include xl{
                    max-width: 300px!important;
                    left: 50%!important;
                }

                @include md-xl{
                    max-width: 300px!important;
                    left: 50%!important;
                }

                @include xs-md{
                    max-width: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    &.section-image-left-content-right{
        .picture{
            svg,img,figure{
                @include xl{
                    max-width: 300px!important;
                    right: 50%!important;
                }

                @include md-xl{
                    max-width: 300px!important;
                    right: 50%!important;
                }

                @include xs-md{
                    max-width: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

section.noProjectsResults {
    padding: 50px;
    background-color: $tertiaire-gris-blanc;
    text-align: center;
    @include setup-font($sourceSansPro, #000, normal);
    @include responsive-font(0, 3rem, 2.8rem, 2.6rem, 2.4rem, 2.2rem);
}

div.scrollToProjetsSelection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: $tertiaire-gris-blanc;
    a{
        color: white;
    }

    button:hover{
        a{
            color: $primaire-vert;
        }
    }
}
