/* ---------------------------------------------- /*
 * Project page - Section PRESENTATION
/* ---------------------------------------------- */
#projects-page-presentation-section {
    #projects-navigation{
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        h4{
            text-align: center;
            @include setup-font($lovelo, #ffffff, normal);
            @include responsive-font(0, 3.5rem, 3.2rem, 2.9rem, 2.6rem,2.5rem);
        }

        select{
            max-width: 300px;
        }
    }
}

/* ---------------------------------------------- /*
 * Project page - Section DISPLAY
/* ---------------------------------------------- */
section.project {
    background-color: $secondaire-bleu;

    &.section-image-right-content-left{
        .picture{
            svg,img,figure{
                width: 100%!important;
                left: 50%!important;
            }
        }
    }
    &.section-image-left-content-right{
        .picture{
            svg,img,figure{
                width: 100%!important;
                right: 50%!important;
            }
        }
    }
}

section.noProjectsResults {
    padding: 50px;
    background-color: $secondaire-bleu;
    text-align: center;
    @include setup-font($sourceSansPro, #ffffff, normal);
    @include responsive-font(0, 3rem, 2.8rem, 2.6rem, 2.4rem, 2.2rem);
}
